
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

$gray-dark: #666666;
$text-color: #7e7e7e;

// Base colors

$primary: #3498db;
$accent: #ff4081;

// Transitions
$transition-short: 300ms;
$transition-long: 500ms;

// State
$danger: #ff3860;
$success: #41b883;